*{
    margin: 0;
}
#page-title{
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 200px;
    margin:10px;
    background-image: url("../images/download.jpg");
    background-size: contain;
    background-color: rgb(149, 116, 116);
    color: blue;
    background-repeat:no-repeat;
    background-position: 50% 10%;
    background-blend-mode:hard-light;
}
h3{
    color: rgb(0, 64, 255);
    padding: 0px 0px 20px 0px;
    text-align: left;
    text-decoration:  rgb(136, 24, 24) 2px;
}
#chng{
    color: rgb(209, 144, 144);
    display: inline-block;
    border: 1px solid magenta;
    background-color: rgb(128, 169, 46);
    margin: 5px;
    padding:5px;
}

.blog{
    background-color:peru;
    text-align: justify;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
    box-shadow:  10px -10px 10px gray ;
    margin-bottom: 30px;
}





